<template>
    <main class="main">
        <!-- Breadcrumb -->
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
        </ol>
        <div class="container-fluid">
            <div class="card">
                <div class="card-header">
                    
                </div>
                <div class="car-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card card-chart">
                                <div class="card-header">
                                    <h4>Estudiantes</h4>
                                </div>
                                <div class="card-content">
                                    <div class="ct-chart">
                                        <canvas id="GraficoHorizontal">                                                
                                        </canvas>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <p>Estudiantes por Universidades.</p>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="card card-chart">
                                <div class="card-header">
                                    <h4>Universidades</h4>
                                </div>
                                <div class="card-content">
                                    <div class="ct-chart">
                                        <canvas id="GraficoTorta">                                                
                                        </canvas>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <p>Universidades por Estudiates.</p>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>

    </main>
</template>
<script>
    export default {
        data (){
            return {
                varEstudiante:null,
                charIngreso:null,
                //estudiantes
                estudiantes: {
                    total: [],
                    varEstudents:[], // = total_horas_dictadas
                    varTotalIngreso:[], // = per_nombre
                    ingresos:[],
                    colores: [],
                },
                varVenta:null,
                charVenta:null,
                //universidades
                universidades:{
                    total: [],
                    varMesVenta:[], // = total_horas_dictadas
                    varTotalVenta:[], // = per_nombre
                    ventas:[],
                    colores: []
                }
            }
        },
        mounted() {
            this.getIngresos();
            this.getVentas();
        },
        methods : {
            getIngresos(){
                let me=this;
                var url= '/dashboard';
                axios.get(url).then(function (response) {
                    // var respuesta= response.data;
                    me.estudiantes.total = response.data;//.cantidades;
                    // me.universidad = respuesta.universidad;
                    //cargamos los datos del chart
                    me.loadIngresos();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            loadIngresos(){
                let me=this;
                me.estudiantes.total.map(function(x, y){
                    me.estudiantes.varEstudents.push(x.sigla);
                    me.estudiantes.varTotalIngreso.push(x.total);
                    let parametro1 = Math.floor(Math.random() * 256);
                    let parametro2 = Math.floor(Math.random() * 256);
                    let parametro3 = Math.floor(Math.random() * 256);
                    let color = 'rgba('+parametro1+', '+parametro2+', '+parametro3+', 0.2)'
                    me.estudiantes.colores.push(color);
                })
                this.obtenerGraficoBar()
            },
            obtenerGraficoBar(){
                let me = this;
                var ctx = document.getElementById('GraficoHorizontal').getContext('2d');
                var GraficoHorizontal = new Chart(ctx,{
                    type: 'bar',
                    data: {
                        labels: me.estudiantes.varEstudents,
                        datasets: [{
                            label: 'Estudiantes',
                            data: me.estudiantes.varTotalIngreso,
                            // backgroundColor: 'rgba(255, 99, 132, 0.2)',
                            // borderColor: 'rgba(255, 99, 132, 0.2)',
                            backgroundColor: me.estudiantes.colores,
                            borderColor: me.estudiantes.colores,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
            },
            getVentas(){
                let me=this;
                var url= '/dashboard/obtenerUniversidades';
                axios.get(url).then(function (response) {
                    me.universidades.total = response.data;
                    me.loadVentas();
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            loadVentas(){
                let me=this;
                me.universidades.total.map(function(x, y){
                    me.universidades.varMesVenta.push(x.total);
                    me.universidades.varTotalVenta.push(x.total);
                    let parametro1 = Math.floor(Math.random() * 256);
                    let parametro2 = Math.floor(Math.random() * 256);
                    let parametro3 = Math.floor(Math.random() * 256);
                    let color = 'rgba('+parametro1+', '+parametro2+', '+parametro3+', 0.2)'
                    me.universidades.colores.push(color);
                })
                this.obtenerGraficoTorta()
            },
            obtenerGraficoTorta(){
                let me = this;
                var ctx = document.getElementById('GraficoTorta').getContext('2d');
                var GraficoTorta = new Chart(ctx,{
                    type: 'bar',
                    data: {
                        labels: me.universidades.varMesVenta,
                        datasets: [{
                            label: 'Universidades',
                            data: me.universidades.varTotalVenta,
                            backgroundColor: me.universidades.colores,
                            borderColor: me.universidades.colores,
                            borderWidth: 1
                        }]
                    },
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero:true
                                }
                            }]
                        }
                    }
                });
            }
        }
    }
</script>
