<template>
    <main class="main">
    <!-- Breadcrumb -->
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
    </ol>
    <div class="container-fluid">
        <!-- Ejemplo de tabla Listado -->
        <div class="card">
            <div class="card-header">
                <i class="fa fa-align-justify"></i> Estudiantes
            </div>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-6">
                        <div class="input-group">
                            <select class="form-control col-md-3" v-model="criterio">
                                <option value="nombre">Nombre</option>
                                <option value="paterno">Paterno</option>
                                <option value="materno">Materno</option>
                                <option value="num_documento">C.I</option>
                                <option value="email">Email</option>
                                <option value="telefono">Teléfono</option>
                            </select>
                            <input type="text" v-model="buscar" @keyup.enter="listarPersona(1,buscar,criterio)" class="form-control" placeholder="Texto a buscar">
                            <button type="submit" @click="listarPersona(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-striped table-sm">
                    <thead>
                        <tr>   
                            <th>Paterno</th>
                            <th>Materno</th>
                            <th>Nombre</th>
                            <th>C. I.</th>                                
                            <th>Teléfono</th>
                            <th>Email</th>
                            <th>Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="persona in arrayPersona" :key="persona.id">
                            
                            <td v-text="persona.paterno"></td>
                            <td v-text="persona.materno"></td>
                            <td v-text="persona.nombre"></td>
                            <td v-text="persona.num_documento"></td>
                            <td v-text="persona.telefono"></td>
                            <td v-text="persona.email"></td>
                            
                            <td style="width:100px; text-align:center">
                                <button type="button" @click="abrirModalGeneral(persona.id)" class="btn btn-success btn-sm">
                                    <i class="icon-eye"></i>
                                </button> &nbsp;
                            </td>
                        </tr>                                
                    </tbody>
                </table>
                <nav>
                    <ul class="pagination">
                        <li class="page-item" v-if="pagination.current_page > 1">
                            <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant</a>
                        </li>
                        <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                            <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                        </li>
                        <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                            <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <!-- Fin ejemplo de tabla Listado -->
    </div>
    <!--Inicio del modal agregar-->
    <div class="modal fade" id="modalRegistro" tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-primary modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" v-text="tituloModal"></h4>
                    <button type="button" class="close" @click="cerrarModalRegistro()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                        <div class="form-group row">
                            <label class="col-md-4 form-control-label" for="email-input">Universidad/Instituto(*)</label>
                            <div class="col-md-8">
                                <select class="form-control" v-model="iduniversidad"  v-on:change="changeItem1(rowId, $event)">
                                    <option value="0" disabled>Seleccione</option>
                                    <option v-for="instituto in arrayUniversidad" :key="instituto.id" :value="instituto.id" v-text="instituto.nombre"></option>
                                </select>    
                            </div>  
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 form-control-label" for="email-input">Carrera(*)</label>
                            <div class="col-md-8">
                                <select v-model="idcarrera" class="form-control">
                                    <option value="0" disabled>Seleccione</option>
                                    <option v-for="carrera in arrayCarrera" :key="carrera.id" :value="carrera.id" v-text="carrera.nombre"></option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-md-4 form-control-label" for="text-input">Fecha de Ingreso</label>
                            <div class="col-md-8">
                                <input type="date" v-model="fecha_ingreso" class="form-control">                                        
                            </div> 
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 form-control-label" for="text-input">Nivel Academico</label>
                            <div class="col-md-8">
                                <select class="form-control" v-model="nivel">
                                    <option value="0" disabled>Seleccione</option>
                                    <option value="TECNICO MEDIO">TECNICO MEDIO</option>
                                    <option value="TECNICO SUPERIOR">TECNICO SUPERIOR</option>
                                    <option value="LICENCIATURA">LICENCIATURA</option>
                                    <option value="DIPLOMADO">DIPLOMADO</option>
                                    <option value="MAESTRIA">MAESTRIA</option>
                                    <option value="DOCTORADO">DOCTORADO</option>
                                </select> 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 form-control-label" for="text-input">Observacion</label>
                            <div class="col-md-8">
                                <input type="text" v-model="observacion" class="form-control" placeholder="Observaciones"> 
                            </div>
                        </div>
                        
                            <input type="hidden" v-model="idpersona"> 
                            

                        <div v-show="errorEstudio" class="form-group row div-error">
                            <div class="text-center text-error">
                                <div v-for="error in errorMostrarMsjEstudio" :key="error" v-text="error">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="registrarEstudioPersona()">Guardar</button>
                    <button type="button" class="btn btn-secondary" @click="cerrarModalRegistro()">Cerrar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--Fin del modal-->

    <!--Inicio del modal editar-->
    <div class="modal fade" id="modalEditar" tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-primary modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" v-text="tituloModal"></h4>
                    <button type="button" class="close" @click="cerrarModalEdit()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">

                        <div class="form-group row">
                            <label class="col-md-4 form-control-label" for="email-input">Universidad/Instituto(*)</label>
                            <div class="col-md-8">
                                <select class="form-control" v-model="iduniversidad"  v-on:change="changeItem1(rowId, $event)">
                                    <option value="0" disabled>Seleccione</option>
                                    <option v-for="instituto in arrayUniversidad" :key="instituto.id" :value="instituto.id" v-text="instituto.nombre"></option>
                                </select>    
                            </div>  
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 form-control-label" for="email-input">Carrera(*)</label>
                            <div class="col-md-8">
                                <select v-model="idcarrera" class="form-control">
                                    <option value="0" disabled>Seleccione</option>
                                    <option v-for="carrera in arrayCarrera" :key="carrera.id" :value="carrera.id" v-text="carrera.nombre"></option>
                                </select>
                            </div>
                        </div>
                        
                        <div class="form-group row">
                            <label class="col-md-4 form-control-label" for="text-input">Fecha de Ingreso</label>
                            <div class="col-md-8">
                                <input type="date" v-model="fecha_ingreso" class="form-control">                                        
                            </div> 
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 form-control-label" for="text-input">Nivel Academico</label>
                            <div class="col-md-8">
                                <select class="form-control" v-model="nivel">
                                    <option value="0" disabled>Seleccione</option>
                                    <option value="TECNICO MEDIO">TECNICO MEDIO</option>
                                    <option value="TECNICO SUPERIOR">TECNICO SUPERIOR</option>
                                    <option value="LICENCIATURA">LICENCIATURA</option>
                                    <option value="DIPLOMADO">DIPLOMADO</option>
                                    <option value="MAESTRIA">MAESTRIA</option>
                                    <option value="DOCTORADO">DOCTORADO</option>
                                </select> 
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 form-control-label" for="text-input">Observacion</label>
                            <div class="col-md-8">
                                <input type="text" v-model="observacion" class="form-control" placeholder="Observaciones"> 
                            </div>
                        </div>
                        
                            <input type="hidden" v-model="idpersona"> 
                            

                        <div v-show="errorEstudio" class="form-group row div-error">
                            <div class="text-center text-error">
                                <div v-for="error in errorMostrarMsjEstudio" :key="error" v-text="error">
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" @click="registrarEstudioPersona()">Guardar</button>
                    <button type="button" class="btn btn-secondary" @click="cerrarModalEdit()">Cerrar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!--Fin del modal-->
    <div id="primer_Modal" class="modal fade" tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
        <div class="modal-dialog modal-primary modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" v-text="tituloModal"></h4>
                    <button type="button" class="close" @click="cerrarModalGeneral()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-md-1 form-control-label" for="text-input">Nombre:</label>
                        <div class="col-md-3">
                            {{ arrayDatosPersonal.nombre }}                                       
                        </div>

                        <label class="col-md-1 form-control-label" for="text-input">Paterno:</label>
                        <div class="col-md-3">
                                {{ arrayDatosPersonal.paterno }}                                         
                        </div>

                        <label class="col-md-1 form-control-label" for="text-input">Materno:</label>
                        <div class="col-md-3">
                                {{ arrayDatosPersonal.materno }}                                         
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="col-md-1 form-control-label" for="text-input">C.I.:</label>
                        <div class="col-md-3">
                                {{ arrayDatosPersonal.num_documento }}                                         
                        </div>

                        <label class="col-md-1 form-control-label" for="text-input">Telefono:</label>
                        <div class="col-md-3">
                                {{ arrayDatosPersonal.telefono }}                                         
                        </div>

                        <label class="col-md-1 form-control-label" for="text-input">Correo:</label>
                        <div class="col-md-3">
                                {{ arrayDatosPersonal.email }}                                         
                        </div>
                    </div>
                        <div class="form-group row">
                        <div class="col-md-6">
                            <div class="input-group">
                                <button type="button" @click=" abrirModalRegistro(arrayDatosPersonal.id)" class="btn btn-info">
                                    <i class="icon-plus"></i>&nbsp;Nuevo
                                </button> &nbsp;
                                <button type="button" class="btn btn-secondary" @click="ReporEst()">
                                    <i class="icon-doc"></i>&nbsp;Reporte
                                </button> &nbsp;
                            </div>
                        </div>
                    </div>

                    <table class="table table-bordered table-striped table-sm">
                        <thead>
                            <tr>
                                <th style="width:50px; text-align:center">Opciones</th>
                                <th style="width:80px; text-align:center">Fecha Ingreso</th>
                                <th style="width:100px; text-align:center">Universidad</th>
                                <th style="width:70px; text-align:center">Carrera</th>
                                <th style="width:100px; text-align:center">Grado Academico</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="estudios in arrayPersonaEstudio" :key="estudios.id">
                                <td style="width:50px; text-align:center">
                                    <button type="button" @click="abrirModalEditar(estudios)" class="btn btn-warning btn-sm">
                                    <i class="icon-pencil"></i>
                                    </button> &nbsp;
                                    <template v-if="estudios.estado">
                                        <button type="button" class="btn btn-danger btn-sm" @click="desactivarEstudio(estudios.id)">
                                            <i class="icon-trash"></i>
                                        </button>
                                    </template>
                                    <template v-else>
                                        <button type="button" class="btn btn-info btn-sm" @click="activarEstudio(estudios.id)">
                                            <i class="icon-check"></i>
                                        </button>
                                    </template>
                                </td>
                                <td v-text="estudios.fecha_ingreso"></td>
                                <td v-text="estudios.nombre"></td>
                                <td v-text="estudios.carrera"></td>
                                <td v-text="estudios.nivel"></td> 
                            </tr>                                
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @click="cerrarModalGeneral()">Cerrar</button>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
           
    </main>
</template>

<script>
    export default {
        data (){
            return {
                id_estudio : 0, 
                idpersona: 0,    
                iduniversidad :0,
                idcarrera : 0,
                fecha_ingreso :'',
                nivel : '',
                observacion : '',
                rowId : 0,
                arrayDatosPersonal : [],
                arrayPersonaEstudio : [],
                arrayPersona : [],
                arrayUniversidad : [],
                arrayCarrera : [],
                modal : 0,
                tituloModal : '',
                tipoAccion : 0,
                errorEstudio : 0,
                errorMostrarMsjEstudio : [],
                pagination : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset : 3,
                criterio : 'nombre',
                buscar : ''
            }
        },
        computed:{
            isActived: function(){
                return this.pagination.current_page;
            },
            //Calcula los elementos de la paginación
            pagesNumber: function() {
                if(!this.pagination.to) {
                    return [];
                }
                
                var from = this.pagination.current_page - this.offset; 
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }  

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;             

            }
        },
        methods : {
            listarPersona (page,buscar,criterio){
                let me=this;
                var url= '/estudiantePromocion?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;
                axios.get(url).then(function (response) {
                    var respuesta= response.data;
                    me.arrayPersona = respuesta.personasPrommocion.data;
                    me.pagination= respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            listarEstudios (id){
               // alert(id);
                let me = this;
                axios
                .get("/estudianteEstudio", {
                id : id,
                })
                .then(function (response) {
                console.log(response)
                me.arrayPersonaEstudio = response.data.personasEstudio
                })
                .catch(function (error) {
                    // handle error
                console.log(error);
                })
            },
            datosPersonal(id){
               // alert(id);
                let me = this;
                axios
                .post("/datosPersonal", {
                id : id,
                })
                .then(function (response) {
                console.log(response)
                me.arrayDatosPersonal = response.data.personal_datos
                })
                .catch(function (error) {
                    // handle error
                console.log(error);
                })
            },
            abrirModalGeneral(id){
                let me = this;
                axios
                .post("/datosEstudioPersonal", {
                id : id,
                })
                .then(function (response) {
                    console.log(response)
                    me.arrayDatosPersonal = response.data.personal_datos;
                    me.arrayPersonaEstudio = response.data.estudiosPersonal;
                    $('#primer_Modal').modal('show');
                    $(".modal-header").css("background-color", "#007bff");
                    $(".modal-header").css("color", "white" );
                    $(".modal-title").text("Estudios Personal");   
                })
                .catch(function (error) {
                    // handle error
                console.log(error);
                })                        
            },
            abrirModalRegistro(id){
                this.idpersona = id;
                this.selectUniversidad();
                this.selectbuscarCarrera(this.iduniversidad);
                $('#primer_Modal').modal('hide');
                $('#modalRegistro').modal('show');
                $(".modal-header").css("background-color", "#007bff");
                $(".modal-header").css("color", "white" );
                $(".modal-title").text("Estudios Personal");  

            },
            abrirModalEditar(id){
                this.idpersona = id;
                this.selectUniversidad();
                this.selectbuscarCarrera(this.iduniversidad);
                $('#primer_Modal').modal('hide');
                $('#modalEditar').modal('show');
                $(".modal-header").css("background-color", "#007bff");
                $(".modal-header").css("color", "white" );
                $(".modal-title").text("Editar Estudios Personal");  

            },
            cambiarPagina(page,buscar,criterio){
                let me = this;
                //Actualiza la página actual
                me.pagination.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.listarPersona(page,buscar,criterio);
            },
            selectUniversidad(){
                let me=this;
                var url= '/instituto/selectInstituto';
                axios.get(url).then(function (response) {
                    //console.log(response);
                    var respuesta= response.data;
                    me.arrayUniversidad = respuesta.institutos;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            changeItem1: function changeItem1(rowId, event) {
                this.selected = "rowId: " + rowId + ", target.value: " + event.target.value;
                this.selectbuscarCarrera(event.target.value);
            },
            selectbuscarCarrera(id){
                let me =this;
                me.buscarD= id;
                me.arrayCarrera = [];
                var url='/carrera/selectBuscarCarrera?buscar=' + id;
                me.selected = url;
                axios.get(url).then(function (response) {
                var respuesta = response.data;
                me.arrayCarrera = respuesta.carreras;  
                    }).catch(function (error) {
                    // handle error 
                        me.selected =error;
                        console.log(error);
                    }).then(function () {
                // always executed
                }); 
            },
            registrarEstudioPersona(){
                if (this.validarEstudioPersonal()){
                    return;
                }
                let me = this;
                axios.post('/datosEstudioPersonal/registrar',{
                    'idpersonal': me.idpersona,
                    'iduniversidad': me.iduniversidad,
                    'idcarrera': me.idcarrera,
                    'fecha_ingreso': me.fecha_ingreso,
                    'nivel': me.nivel,
                }).then(function (response) {
                    console.log(response);
                  $('#modalRegistro').modal('hide');
                  me.abrirModalGeneral(me.idpersona);
                  me.listarEstudios(me.idpersona);
                  $('#primer_Modal').modal('show');
                }).catch(function (error) {
                    console.log(error);
                });
            },
            actualizarPersona(){
               if (this.validarEstudioPersonal()){
                    return;
                }
                let me = this;
                axios.put('/estudiantePromocion/actualizar',{
                    'nombre': this.nombre,
                    'paterno': this.paterno,
                    'materno': this.materno,
                    'estado_civil': this.estado_civil,
                    'sexo': this.sexo,
                    'fecha_nac': this.fecha_nac,
                    'num_documento' : this.num_documento,
                    'direccion' : this.direccion,
                    'telefono' : this.telefono,
                    'email' : this.email, 
                    'idpromocion' : this.idpromocion,
                    'idparalelo': this.idparalelo,
                    'id': this.persona_id,
                }).then(function (response) {
                    console.log(response);
                   // me.cerrarModal();
                   // me.listarPersona(1,'','nombre');
                }).catch(function (error) {
                    console.log(error);
                }); 
            },
            validarEstudioPersonal(){
                this.errorEstudio=0;
                this.errorMostrarMsjEstudio =[];
                if(!this.iduniversidad) this.errorMostrarMsjEstudio.push("Seleccione una opcion en Universidad o Instituto.");
                if(!this.idcarrera) this.errorMostrarMsjEstudio.push("Seleccione una opcion en Carrera.");
                if(!this.fecha_ingreso) this.errorMostrarMsjEstudio.push("La fecha de Ingreso es campo Requerido");
                if(!this.nivel) this.errorMostrarMsjEstudio.push("El Nivel de Estudio es campo requerido.");
                if(this.errorMostrarMsjEstudio.length) this.errorEstudio = 1;

                return this.errorEstudio;
            },
            cerrarModalGeneral(){
                $('#primer_Modal').modal('hide');
            },
            cerrarModalRegistro(){
                this.iduniversidad='';
                this.idcarrera='';
                this.fecha_ingreso='';
                this.nivel='';
                this.observacion='';
                this.errorPersona=0;
                $('#modalRegistro').modal('hide');

            },
            cerrarModalEdit(){
                this.iduniversidad='';
                this.idcarrera='';
                this.fecha_ingreso='';
                this.nivel='';
                this.observacion='';
                this.errorPersona=0;
                $('#modalEditar').modal('hide');
                me.abrirModalGeneral(me.idpersona);
                me.listarEstudios(me.idpersona);

            },
            desactivarUsuario(id){
               swal({
                title: 'Esta seguro de desactivar este usuario?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me = this;

                    axios.put('/user/desactivar',{
                        'id': id
                    }).then(function (response) {
                        me.listarPersona(1,'','nombre');
                        swal(
                        'Desactivado!',
                        'El registro ha sido desactivado con éxito.',
                        'success'
                        )
                    }).catch(function (error) {
                        console.log(error);
                    });
                    
                    
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                ) {
                    
                }
                }) 
            },
            activarUsuario(id){
               swal({
                title: 'Esta seguro de activar este usuario?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me = this;

                    axios.put('/user/activar',{
                        'id': id
                    }).then(function (response) {
                        me.listarPersona(1,'','nombre');
                        swal(
                        'Activado!',
                        'El registro ha sido activado con éxito.',
                        'success'
                        )
                    }).catch(function (error) {
                        console.log(error);
                    });
                    
                    
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                ) {
                    
                }
                }) 
            },

            ReporEst(){
                //window.open('http://127.0.0.1:8000/reporteIndividual?per_codigo='+per_codigo);
                window.open('http://127.0.0.1:8000/reporteEstudiante');
            },
        },
        mounted() {
            this.listarPersona(1,this.buscar,this.criterio);
        }
    }
</script>
<style>    
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
