<template>
            <main class="main">
            <!-- Breadcrumb -->
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Escritorio</a></li>
            </ol>
            <div class="container-fluid">
                <!-- Ejemplo de tabla Listado -->
                <div class="card">
                    <div class="card-header">
                        <i class="fa fa-align-justify"></i> Estudios Superiores 
                        <button type="button" @click="abrirModal('persona','registrar')" class="btn btn-info">
                            <i class="icon-plus"></i>&nbsp;Nuevo
                        </button> &nbsp;
                        <button type="button" class="btn btn-secondary" @click="ReporEst()">
                            <i class="icon-doc"></i>&nbsp;Reporte
                        </button> &nbsp;
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-md-6">
                                <div class="input-group">
                                    <select class="form-control col-md-3" v-model="criterio">
                                      <option value="nombre">Nombre</option>
                                      <option value="num_documento">Documento</option>
                                      <option value="email">Email</option>
                                      <option value="telefono">Teléfono</option>
                                    </select>
                                    <input type="text" v-model="buscar" @keyup.enter="listarPersona(1,buscar,criterio)" class="form-control" placeholder="Texto a buscar">
                                    <button type="submit" @click="listarPersona(1,buscar,criterio)" class="btn btn-primary"><i class="fa fa-search"></i> Buscar</button>
                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-striped table-sm">
                            <thead>
                                <tr>
                                    <th>Opciones</th>
                                    <th>Nombre</th>
                                    <th>C. I.</th>
                                    <th>Dirección</th>
                                    <th>Teléfono</th>
                                    <th>Email</th>
                                    <th>Año Egreso</th>
                                    <th>Paralelo</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="persona in arrayPersona" :key="persona.id">
                                    <td>
                                        <button type="button" @click="abrirModal('persona','actualizar',persona)" class="btn btn-warning btn-sm">
                                          <i class="icon-pencil"></i>
                                        </button> &nbsp;
                                        <template v-if="persona.estado">
                                            <button type="button" class="btn btn-danger btn-sm" @click="desactivarUsuario(persona.id)">
                                                <i class="icon-trash"></i>
                                            </button>
                                        </template>
                                        <template v-else>
                                            <button type="button" class="btn btn-info btn-sm" @click="activarUsuario(persona.id)">
                                                <i class="icon-check"></i>
                                            </button>
                                        </template>
                                    </td>
                                    <td v-text="persona.nombre+' '+persona.paterno+' '+persona.materno" ></td>
                                    <td v-text="persona.num_documento"></td>
                                    <td v-text="persona.direccion"></td>
                                    <td v-text="persona.telefono"></td>
                                    <td v-text="persona.email"></td>
                                    <td v-text="persona.anio"></td>
                                    <td v-text="persona.detalle"></td>
                                </tr>                                
                            </tbody>
                        </table>
                        
                        <nav>
                            <ul class="pagination">
                                <li class="page-item" v-if="pagination.current_page > 1">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page - 1,buscar,criterio)">Ant</a>
                                </li>
                                <li class="page-item" v-for="page in pagesNumber" :key="page" :class="[page == isActived ? 'active' : '']">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(page,buscar,criterio)" v-text="page"></a>
                                </li>
                                <li class="page-item" v-if="pagination.current_page < pagination.last_page">
                                    <a class="page-link" href="#" @click.prevent="cambiarPagina(pagination.current_page + 1,buscar,criterio)">Sig</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <!-- Fin ejemplo de tabla Listado -->
            </div>
            <!--Inicio del modal agregar/actualizar-->
            <div class="modal fade" tabindex="-1" :class="{'mostrar' : modal}" role="dialog" aria-labelledby="myModalLabel" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-primary modal-lg" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" v-text="tituloModal"></h4>
                            <button type="button" class="close" @click="cerrarModal()" aria-label="Close">
                              <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form action="" method="post" enctype="multipart/form-data" class="form-horizontal">
                                <div class="form-group row">
                                    <label class="col-md-2 form-control-label" for="text-input">Nombre(*)</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="nombre" class="form-control" placeholder="Nombre de la persona">                                        
                                    </div>

                                    <label class="col-md-2 form-control-label" for="text-input">Ap. Paterno</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="paterno" class="form-control" placeholder="Primer Apellido">                                        
                                    </div>
                                </div>
                                
                                <div class="form-group row">
                                    <label class="col-md-2 form-control-label" for="text-input">Ap. Materno</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="materno" class="form-control" placeholder="Segundo Apellido">                                        
                                    </div>

                                    <label class="col-md-2 form-control-label" for="text-input">Estado Civil</label>
                                    <div class="col-md-4">
                                        <select class="form-control" v-model="estado_civil">
                                            <option value="CASADO">CASADO</option>
                                            <option value="SOLTERO">SOLTERO</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group row">
                                    <label class="col-md-2 form-control-label" for="text-input">Sexo</label>
                                    <div class="col-md-4">
                                        <select class="form-control" v-model="sexo">
                                            <option value="MASCULINO">MASCULINO</option>
                                            <option value="FEMENINO">FEMENINO</option>
                                        </select>
                                    </div>
                                    <label class="col-md-2 form-control-label" for="email-input">Fecha de nacimiento</label>
                                    <div class="col-md-4">
                                        <input type="date" v-model="fecha_nac" class="form-control">
                                    </div>

                                </div>
                            
                                <div class="form-group row">

                                    <label class="col-md-2 form-control-label" for="email-input">Número documento</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="num_documento" class="form-control" placeholder="Número de documento">
                                    </div>

                                    <label class="col-md-2 form-control-label" for="email-input">Dirección</label>
                                    <div class="col-md-4">
                                        <input type="text" v-model="direccion" class="form-control" placeholder="Dirección">
                                    </div>

                                </div>

                                <div class="form-group row">

                                    <label class="col-md-2 form-control-label" for="email-input">Teléfono</label>
                                    <div class="col-md-4">
                                        <input type="number" v-model="telefono" class="form-control" placeholder="Teléfono">
                                    </div> 

                                    <label class="col-md-2 form-control-label" for="email-input">Email</label>
                                    <div class="col-md-4">
                                        <input type="email" v-model="email" class="form-control" placeholder="Email">
                                    </div>

                                </div>
                                <div class="form-group row">

                                    <label class="col-md-2 form-control-label" for="email-input">Año de Agreso</label>
                                    <div class="col-md-4">
                                        <select v-model="idpromocion" class="form-control">
                                            <option value="0" disabled>Seleccione</option>
                                            <option v-for="egreso in arrayEgreso" :key="egreso.id" :value="egreso.id" v-text="egreso.anio"></option>
                                        </select>
                                    </div>

                                    <label class="col-md-2 form-control-label" for="email-input">Promocion</label>
                                    <div class="col-md-4">
                                         <select v-model="idparalelo" class="form-control">
                                            <option value="0" disabled>Seleccione</option>
                                            <option v-for="paralelo in arrayParalelo" :key="paralelo.id" :value="paralelo.id" v-text="paralelo.detalle"></option>
                                        </select>
                                    </div>

                                </div>

                                <div v-show="errorPersona" class="form-group row div-error">
                                    <div class="text-center text-error">
                                        <div v-for="error in errorMostrarMsjPersona" :key="error" v-text="error">

                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" v-if="tipoAccion==1" class="btn btn-primary" @click="registrarPersona()">Guardar</button>
                            <button type="button" v-if="tipoAccion==2" class="btn btn-primary" @click="actualizarPersona()">Actualizar</button>
                            <button type="button" class="btn btn-secondary" @click="cerrarModal()">Cerrar</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!--Fin del modal-->
        </main>
</template>

<script>
    export default {
        data (){
            return {
                persona_id: 0, 
                nombre : '',
                paterno : '',
                materno : '',
                estado_civil : '',
                sexo : '',
                fecha_nac : '',
                num_documento : '',
                direccion : '',
                telefono : '',
                email : '',
                idpromocion :0,
                idparalelo : 0,
                observacion :'',
                idparalelo :'',
                arrayPersona : [],
                arrayEgreso : [],
                arrayParalelo : [],
                modal : 0,
                tituloModal : '',
                tipoAccion : 0,
                errorPersona : 0,
                errorMostrarMsjPersona : [],
                pagination : {
                    'total' : 0,
                    'current_page' : 0,
                    'per_page' : 0,
                    'last_page' : 0,
                    'from' : 0,
                    'to' : 0,
                },
                offset : 3,
                criterio : 'nombre',
                buscar : ''
            }
        },
        computed:{
            isActived: function(){
                return this.pagination.current_page;
            },
            //Calcula los elementos de la paginación
            pagesNumber: function() {
                if(!this.pagination.to) {
                    return [];
                }
                
                var from = this.pagination.current_page - this.offset; 
                if(from < 1) {
                    from = 1;
                }

                var to = from + (this.offset * 2); 
                if(to >= this.pagination.last_page){
                    to = this.pagination.last_page;
                }  

                var pagesArray = [];
                while(from <= to) {
                    pagesArray.push(from);
                    from++;
                }
                return pagesArray;             

            }
        },
        methods : {
            listarPersona (page,buscar,criterio){
                let me=this;
                var url= '/estudiantePromocion?page=' + page + '&buscar='+ buscar + '&criterio='+ criterio;
                axios.get(url).then(function (response) {
                    var respuesta= response.data;
                    me.arrayPersona = respuesta.personasPrommocion.data;
                    me.pagination= respuesta.pagination;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            selectPromocion(){
                let me=this;
                var url= '/promocion/selectPromocion';
                axios.get(url).then(function (response) {
                    //console.log(response);
                    var respuesta= response.data;
                    me.arrayEgreso = respuesta.promociones;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },
            selectParalelo(){
                let me=this;
                var url= '/paralelo/selectParalelo';
                axios.get(url).then(function (response) {
                    //console.log(response);
                    var respuesta= response.data;
                    me.arrayParalelo = respuesta.paralelos;
                })
                .catch(function (error) {
                    console.log(error);
                });
            },

            cambiarPagina(page,buscar,criterio){
                let me = this;
                //Actualiza la página actual
                me.pagination.current_page = page;
                //Envia la petición para visualizar la data de esa página
                me.listarPersona(page,buscar,criterio);
            },
            registrarPersona(){
                if (this.validarPersona()){
                    return;
                }
                let me = this;
                axios.post('/estudiantePromocion/registrar',{
                    'nombre': this.nombre,
                    'paterno': this.paterno,
                    'materno': this.materno,
                    'estado_civil': this.estado_civil,
                    'sexo': this.sexo,
                    'fecha_nac': this.fecha_nac,
                    'num_documento' : this.num_documento,
                    'direccion' : this.direccion,
                    'telefono' : this.telefono,
                    'email' : this.email,
                    'idpromocion' : this.idpromocion,
                    'idparalelo': this.idparalelo,
                }).then(function (response) {
                    me.cerrarModal();
                    me.listarPersona(1,'','nombre');
                }).catch(function (error) {
                    console.log(error);
                });
            },
            actualizarPersona(){
               if (this.validarPersona()){
                    return;
                }
                let me = this;
                axios.put('/estudiantePromocion/actualizar',{
                    'nombre': this.nombre,
                    'paterno': this.paterno,
                    'materno': this.materno,
                    'estado_civil': this.estado_civil,
                    'sexo': this.sexo,
                    'fecha_nac': this.fecha_nac,
                    'num_documento' : this.num_documento,
                    'direccion' : this.direccion,
                    'telefono' : this.telefono,
                    'email' : this.email, 
                    'idpromocion' : this.idpromocion,
                    'idparalelo': this.idparalelo,
                    'id': this.persona_id,
                }).then(function (response) {
                  //  console.log(response);
                    me.cerrarModal();
                    me.listarPersona(1,'','nombre');
                }).catch(function (error) {
                    console.log(error);
                }); 
            },
            validarPersona(){
                this.errorPersona=0;
                this.errorMostrarMsjPersona =[];

                if (!this.nombre) this.errorMostrarMsjPersona.push("El nombre de la pesona no puede estar vacío.");
                if (!this.estado_civil) this.errorMostrarMsjPersona.push("Seleccione una opcion en Estado Civil.");
                if (!this.sexo) this.errorMostrarMsjPersona.push("Seleccione sexo.");
                if (!this.fecha_nac) this.errorMostrarMsjPersona.push("La fecha de nacimiento no puede estar vacío.");
                if (!this.num_documento) this.errorMostrarMsjPersona.push("El numero de Documento no puede estar vacío.");
                if (!this.direccion) this.errorMostrarMsjPersona.push("La direccion de la pesona no puede estar vacío.");
                if (!this.telefono) this.errorMostrarMsjPersona.push("El telefono de la pesona no puede estar vacío.");
                if (!this.email) this.errorMostrarMsjPersona.push("El correo electronico no puede estar vacío.");
                if (this.errorMostrarMsjPersona.length) this.errorPersona = 1;

                return this.errorPersona;
            },
            cerrarModal(){
                this.modal=0;
                this.tituloModal='';
                this.nombre='';
                this.paterno='';
                this.materno='';
                this.estado_civil='';
                this.sexo='';
                this.fecha_nac='';
                this.tipo_documento='DNI';
                this.num_documento='';
                this.direccion='';
                this.telefono='';
                this.email='';
                this.errorPersona=0;
            },
            abrirModal(modelo, accion, data = []){
                this.selectPromocion();
                this.selectParalelo();
                switch(modelo){
                    case "persona":
                    {
                        switch(accion){
                            case 'registrar':
                            {
                                this.modal = 1;
                                this.tituloModal = 'Registrar Estudiante';
                                this.nombre= '';
                                this.paterno= '';
                                this.materno= '';
                                this.estado_civil= '';
                                this.sexo= '';
                                this.fecha_nac= '';
                                this.num_documento='';
                                this.direccion='';
                                this.telefono='';
                                this.email='';
                                this.idparalelo='';
                                this.idpromocion='';
                                this.tipoAccion = 1;
                                break;
                            }
                            case 'actualizar':
                            {
                                //console.log(data);
                                this.modal=1;
                                this.tituloModal='Actualizar Estudiante';
                                this.tipoAccion=2;
                                this.persona_id = data['id'];
                                this.nombre = data['nombre'];
                                this.paterno = data['paterno'];
                                this.materno = data['materno'];
                                this.estado_civil = data['estado_civil'];
                                this.sexo = data['sexo'];
                                this.fecha_nac = data['fecha_nac'];
                                this.num_documento = data['num_documento'];
                                this.direccion = data['direccion'];
                                this.telefono = data['telefono'];
                                this.email = data['email'];
                                this.idpromocion = data['idpromocion'];
                                this.idparalelo=data['idparalelo'];
                                break;
                            }
                        }
                    }
                }
            },
            desactivarUsuario(id){
               swal({
                title: 'Esta seguro de desactivar este usuario?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me = this;

                    axios.put('/user/desactivar',{
                        'id': id
                    }).then(function (response) {
                        me.listarPersona(1,'','nombre');
                        swal(
                        'Desactivado!',
                        'El registro ha sido desactivado con éxito.',
                        'success'
                        )
                    }).catch(function (error) {
                        console.log(error);
                    });
                    
                    
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                ) {
                    
                }
                }) 
            },
            activarUsuario(id){
               swal({
                title: 'Esta seguro de activar este usuario?',
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Aceptar!',
                cancelButtonText: 'Cancelar',
                confirmButtonClass: 'btn btn-success',
                cancelButtonClass: 'btn btn-danger',
                buttonsStyling: false,
                reverseButtons: true
                }).then((result) => {
                if (result.value) {
                    let me = this;

                    axios.put('/user/activar',{
                        'id': id
                    }).then(function (response) {
                        me.listarPersona(1,'','nombre');
                        swal(
                        'Activado!',
                        'El registro ha sido activado con éxito.',
                        'success'
                        )
                    }).catch(function (error) {
                        console.log(error);
                    });
                    
                    
                } else if (
                    // Read more about handling dismissals
                    result.dismiss === swal.DismissReason.cancel
                ) {
                    
                }
                }) 
            },

            ReporEst(){
                //window.open('http://127.0.0.1:8000/reporteIndividual?per_codigo='+per_codigo);
                window.open('http://127.0.0.1:8000/reporteEstudiante');
            },
        },
        mounted() {
            this.listarPersona(1,this.buscar,this.criterio);
        }
    }
</script>
<style>    
    .modal-content{
        width: 100% !important;
        position: absolute !important;
    }
    .mostrar{
        display: list-item !important;
        opacity: 1 !important;
        position: absolute !important;
        background-color: #3c29297a !important;
    }
    .div-error{
        display: flex;
        justify-content: center;
    }
    .text-error{
        color: red !important;
        font-weight: bold;
    }
</style>
